.centered {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

nav {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5dvh;
    padding-bottom: 3dvh;
    width: 50%;
}

nav a {
    padding: 8px;
    text-decoration: none;
    color: rgb(125, 125, 125);
    min-width: 10%;
    justify-content: center;
    align-items:center;
    display:flex;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    transform: scale(1.2);
    color: rgb(213, 213, 213);
}

nav .active {
    cursor: default;
    color: rgb(213, 213, 213);
}

nav .active:hover {
    transform: scale(1);
}