@media (max-width: 1000px) {
    .aboutWrapper {
        flex-direction: column;
    }

    .headshotImage {
        width: 100%;
        height: 20%;
    }
}

@media (min-width: 1000px) {

    .aboutWrapper {
        flex-direction: row-reverse;
    }

    .headshotImage {
        width: 40%;
    }
}
.aboutWrapper {
    height: 100%;
    display: flex;
}

.headshotImage {
    margin: auto;
    border-radius: 50%;
    height: auto;
    max-width: 400px;
    max-height: 500px;
}

.aboutSpacer {
    min-width: 2em;
    width: 20%;
    max-width: 3em;
}